@font-face {
  font-family: "LuckiestGuy";
  src: url("fonts/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  transition: all 0.3s ease-in-out;
  filter: contrast(1.2) hue-rotate(0deg);
  background: #cf975e;
}

html.aquarium {
  transition: all 0.3s ease-in-out;
  filter: contrast(1.2) hue-rotate(180deg);
  background: #cf975e;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: none;
}

img {
  /* Prevent haptic touch previews */
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* fallback for some browsers */
  image-rendering: -moz-crisp-edges; /* Firefox fallback */
  cursor: none;
  touch-action: none;
}
