@font-face {
  font-family: "LuckiestGuy";
  src: url("fonts/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  background: #cf975e;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges; /* Firefox fallback */
  cursor: none;
}
